* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
}

ul {
    list-style: none;
}

a {
    display: inline-block;
    text-decoration: none;
}

img {
    display: inline-block;
}

span {
    display: inline-block;
}

button {
    cursor: pointer;
}

.container {
    width: 1100px;
    margin: 0 auto;
    padding: 0 20px;
}

.header {
    margin-top: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-title {
    color: #252B42;
    font-family: Montserrat;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 32px;
    letter-spacing: 0.1px;
}

.header-list {
    display: flex;
    align-items: center;
    gap: 0 20px;
}

.header-link {
    color: var(--second-text-color, #737373);
    text-align: center;
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0.2px;
}

.header-btn {
    color: var(--light-text-color, #FFF);
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 22px;
    letter-spacing: 0.2px;
    border: none;
    padding: 15px 25px;
    border-radius: 5px;
    background: var(--primary-color, #CFE4E7);
}